@import './styles/base.scss';

:root {
  font-size: 16px; //@include font_adapt(16, 12); //
}

body {
  background-color: greenyellow;
  color: $T_color;
  font-family: 'Catamaran_Regular', Arial, Helvetica, sans-serif;

  a {
    @include links();
  }

  .accent_yellow {
    color: $yellow;
  }

  .btn {
    @include button();
  }

  .logotype:hover {
    @include transitions;
    filter: drop-shadow(10px 10px 15px $sky_blue);
    -webkit-filter: drop-shadow(10px 10px 15px $sky_blue);
  }

  .logotype:active {
    @include transitions;
    filter: drop-shadow(10px 10px 15px $yellow);
    -webkit-filter: drop-shadow(10px 10px 15px $yellow);
  }

  p,
  li {
    font-family: 'Catamaran_Regular';
    color: $T_color;
    @include font_adapt(25, 12);
    line-height: func_respons(37.65, 20);
    letter-spacing: func_rem(0.75);
  }

  h1 {
    width: 100%;
    font-family: 'Catamaran_Bold';
    @include font_adapt(75, 20);
    line-height: func_respons(100, 30);
    text-transform: capitalize;
    color: $T_h_color;
  }

  h2 {
    font-family: 'Catamaran_Bold';
    @include font_adapt(70, 25);
    line-height: func_respons(100, 30);
    text-transform: capitalize;
    color: $T_h_color;
  }

  h3 {
    font-family: 'Catamaran_Bold';
    @include font_adapt(45, 18);
    text-align: center;
    text-transform: capitalize;
    letter-spacing: func_rem(1.35);
    color: $T_h_color;
  }
}

.wrapper {
  min-width: calc($minWidth * 1px);
  width: 100%;
  max-width: calc($maxWidth * 1px);
  min-height: 100%;

  margin: 0 auto;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: func_perc(1920, 1532);
  max-width: func_rem(1532);
  height: func_rem(122);

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-self: center;

  .logotype {
    width: 150px;
    min-width: fit-content;
    height: 100%;
    margin-bottom: 14px;

    align-self: flex-end;
    flex: 0 0 auto;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-end;

    position: relative;

    img {
      width: 50%;
      height: 50%;

      position: absolute;
      bottom: 5px;
      left: 5px;

      transform: rotateZ(10deg);
      -webkit-transform: rotateZ(10deg);
      -moz-transform: rotateZ(10deg);
      -ms-transform: rotateZ(10deg);
      -o-transform: rotateZ(10deg);
    }

    span {
      font-family: 'Catamaran_Semi_Bold';
      font-size: func_rem(40);
      color: $sky_blue;
      text-transform: lowercase;
    }
  }

  .nav_menu {
    width: 80%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: flex-end;

    nav {
      width: fit-content; // default 452px;
      height: 100%;

      margin-bottom: 14px;

      align-self: flex-end;

      ul {
        height: inherit;

        .mini_nav {
          display: none;
        }

        li {
          height: inherit;

          ul {
            width: 100%;
            height: inherit;

            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            :not(:first-child) {
              margin-left: func_respons(20, 7);
            }

            li {
              align-self: flex-end;
              height: 5%;

              a {
                width: auto;
                height: 100%;

                padding: 0 func_respons(14, 5);

                display: flex;

                border-radius: func_rem(5);
                -webkit-border-radius: func_rem(5);
                -moz-border-radius: func_rem(5);
                -ms-border-radius: func_rem(5);
                -o-border-radius: func_rem(5);

                span {
                  align-self: flex-end;
                }
              }

              @include transitions;

              &:hover {
                @include transitions;
                background-color: $sky_blue;
                height: 100%;
              }
            }
          }
        }
      }
    }

    menu {
      width: func_rem(416);
      height: 100%;

      align-self: flex-end;

      ul {
        height: inherit;

        .mini_menu {
          display: none;
        }

        li {
          height: inherit;

          ul {
            width: 100%;
            height: inherit;

            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            li {
              width: fit-content;
              height: 100%;

              display: flex;

              a {
                height: inherit;
                // width: fit-content;

                padding: func_respons(5, 0.1) 10px;

                position: relative;

                display: flex;

                @include transitions;

                img {
                  width: func_rem(42);
                  height: func_rem(42);

                  align-self: flex-end;

                  transform: rotateZ(0deg);
                  -webkit-transform: rotateZ(0deg);
                  -moz-transform: rotateZ(0deg);
                  -ms-transform: rotateZ(0deg);
                  -o-transform: rotateZ(0deg);
                }

                span {
                  width: func_rem(30); // default(20px)
                  height: func_rem(30); // default(20px)

                  position: absolute;
                  right: 0%;
                  bottom: 25%;

                  background-color: $red;
                  border-radius: 100%;
                  -webkit-border-radius: 100%;
                  -moz-border-radius: 100%;
                  -ms-border-radius: 100%;
                  -o-border-radius: 100%;

                  em {
                    @include сentering-xy();

                    color: $white;
                    @include font_adapt(16, 6);
                  }
                }
              }
            }

            :last-child {
              a.btn {
                width: func_respons(188, 120);
                height: func_respons(76, 48.5);
                align-self: flex-end;
              }
            }

            :not(:last-child) {
              :hover {
                img {
                  @include transitions;
                  filter: drop-shadow(0px -10px 20px $blue) hue-rotate(270deg);
                  -webkit-filter: drop-shadow(0px -10px 20px $blue) hue-rotate(270deg);
                }
              }

              :active {
                img {
                  @include transitions;
                  filter: drop-shadow(0px 0px 15px $yellow) hue-rotate(270deg);
                  -webkit-filter: drop-shadow(0px 0px 15px $yellow) hue-rotate(270deg);
                }
              }
            }
          }
        }
      }
    }
  }
}

main {
  margin-top: func_rem(50);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero {
  width: func_perc(1920, 1732);
  // height: func_rem(820);
  align-self: flex-end;

  .hero_content {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;

    .hero_message {
      width: func_rem(590); //default 576
      height: 100%;

      p {
        margin: func_respons(30, 14) 8% func_respons(100, 20) 0%;
      }
    }

    .hero_img {
      img {
        max-width: 100%;
        height: auto;

        display: block;
      }
    }
  }
}

.history {
  width: func_perc(1920, 1643);
  // height: func_rem(968);

  margin-top: func_respons(226, 50);
  margin-left: func_perc(1920, 82);

  .history_content {
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    .history_img {
      height: 100%;

      img {
        max-width: 100%;
        height: auto;

        display: block;
      }
    }

    .history_message {
      width: func_rem(526);
      height: 70%;

      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      align-content: center;

      h2 {
        width: 100%;
      }

      p {
        margin: func_respons(149, 20) 8% func_respons(100, 20) 0%;
      }
    }

    .hero_img {
      img {
        max-width: 100%;
        height: auto;

        display: block;
      }
    }
  }
}

.services {
  width: func_perc(1920, 1417);
  // height: func_rem(780);

  margin: func_respons(136, 20) auto;

  .services_content {
    width: 100%;
    height: 100%;

    h2 {
      width: 40%;
      margin: 0 auto;
      text-align: center;
    }

    .services_showcase {
      width: 100%;

      margin: 1% auto;

      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;

      :not(:first-child) {
        margin-left: 1%;
      }

      .services_card {
        width: 30%;
        min-width: func_respons(360, 300);
        height: func_respons(553, 460);

        flex: 0 0 auto;
        margin-top: 5%;

        background: #fafbff;
        box-shadow: 0px 5px 0px 0px $sky_blue;
        border-radius: func_rem(29);
        -webkit-border-radius: func_rem(29);
        -moz-border-radius: func_rem(29);
        -ms-border-radius: func_rem(29);
        -o-border-radius: func_rem(29);

        .services_card_content {
          width: 100%;
          height: 100%;

          display: flex;
          flex-flow: column nowrap;
          justify-content: space-between;
          align-content: center;

          text-align: center;

          .service_logo {
            height: func_rem(126);
            width: func_rem(103);

            margin-top: 50px;

            position: relative;
            align-self: center;

            background: #e5ecfe;
            box-shadow: 0px 1px 0px 0px $blue;
            border-radius: func_rem(13);
            -webkit-border-radius: func_rem(13);
            -moz-border-radius: func_rem(13);
            -ms-border-radius: func_rem(13);
            -o-border-radius: func_rem(13);

            img {
              display: block;
              width: func_rem(62.57);
              height: func_rem(58);
              @include сentering-xy();
            }
          }

          h3 {
            margin-top: 60px;
          }

          p {
            margin: auto 5%;
          }
        }
      }

      .services_card:hover {
        background-color: $sky_blue;
        box-shadow: 23px 39px 47px 0px $social_bg;
      }
    }
  }
}

.gallery {
  width: func_perc(1920, 1390);

  margin: 0 auto;
  margin-top: func_respons(272, 50);
  margin-bottom: func_respons(188, 44);

  .gallery_content {
    width: 100%;

    h2 {
      text-align: center;
    }

    .gallery_img {
      width: 100%;

      margin-top: func_respons(110, 20);
      margin-bottom: func_respons(77, 40);

      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(func_respons(435, 1), 1fr));
      gap: func_respons(37, 12);
      justify-content: center;
      align-content: center;
      margin-bottom: func_rem(100);

      img {
        align-self: center;
        width: func_respons(435, 100);
        height: func_respons(435, 100);
        object-fit: cover;
        object-position: 15% 25%;
      }
    }

    .btn {
      margin: 0 auto;
    }
  }
}

footer {
  width: 100%;
  height: func_rem(430);

  .footer_content {
    width: 80%;

    margin: 0 auto;
    margin-bottom: func_respons(100, 20);

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-content: center;

    .logotype {
      width: func_rem(230);
      min-width: fit-content;
      height: func_rem(146);
      margin-bottom: func_rem(14);

      align-self: center;
      flex: 0 0 auto;

      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: flex-end;

      position: relative;

      img {
        width: func_rem(112);
        height: func_rem(112);

        position: absolute;
        bottom: 10px;
        left: 10px;

        transform: rotateZ(10deg);
        -webkit-transform: rotateZ(10deg);
        -moz-transform: rotateZ(10deg);
        -ms-transform: rotateZ(10deg);
        -o-transform: rotateZ(10deg);
      }

      span {
        font-family: 'Catamaran_Semi_Bold';
        font-size: func_rem(60);
        color: $sky_blue;
        text-transform: lowercase;
      }
    }

    p {
      width: func_respons(526, 300);
      margin: func_rem(47) auto;
      text-align: center;
    }

    .social {
      width: 60%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-self: center;

      a {
        width: func_respons(67, 40);
        height: func_respons(67, 40);

        align-self: center;

        position: relative;
        margin-left: 10px;

        background-color: $social_bg;
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;

        img {
          position: absolute;
          @include сentering-xy();
        }

        :first-child {
          width: 19px;
          height: 38px;
        }

        :nth-child(2) {
          width: 31.692px;
          height: 25.75px;
        }

        :last-child {
          width: 28px;
          height: 29px;
        }
      }

      a:hover {
        background-color: $sky_blue;
      }
    }
  }

  hr {
    margin: 20px auto;
  }
}