@import './vars.scss';
@import './mixins.scss';

//===================================min-width: 1921px
@media screen and (min-width: 1921px) {
  .decor {
    width: calc($maxWidth * 1.25px);
  }
}

//===================================max-width: 1440px
@media screen and (max-width: 1440px) {
  .btn {
    margin-left: 20px;
  }

  header {
    width: 90%; //80%

    .nav_menu {
      width: 100%; //90%
      justify-content: space-around; //space-between;

      nav {
        width: func_respons(452, 200); //fit-content; // default 452px;
      }

      menu {
        width: func_respons(416, 200); //func_rem(416);

        ul {
          li {
            ul {
              li {
                :last-child {
                  a.btn {
                    height: func_rem(76);
                    align-self: flex-end;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

//===================================max-width: 1024px
@media screen and (max-width: 1024px) {
  .hero {
    .hero_content {
      display: grid; // flex

      .hero_message {
        width: 90%; //func_rem(590); //default 576

        display: grid; // new
        grid-template-areas:
          'hm hm hm'
          'hb hp hp'; // new
        column-gap: 10px;

        h1 {
          grid-area: hm; // new
          text-align: center; // new
        }

        p {
          grid-area: hp; // new
        }

        .btn {
          grid-area: hb; // new
          justify-self: center; // new
          align-self: center; // new
        }
      }
    }
  }

  .history {
    width: 90%;

    // height: func_rem(968);
    .history_content {
      height: fit-content;
      display: flex; // new
      flex-flow: column-reverse nowrap; // new

      .history_message {
        width: 90%; //func_rem(526);
        //height: 70%;

        display: grid; // new
        grid-template-areas:
          'Oh Oh Oh'
          'Op1 Op1 Ob'
          'Op2 Op2 Ob'; // new

        h2 {
          grid-area: Oh; // new
          text-align: center; // new
        }

        p {
          width: 90%; // new
          margin: 10px auto; // new
        }

        p:first-of-type {
          height: fit-content; // new
          grid-area: Op1; // new
        }

        .btn {
          grid-area: Ob; // new
          justify-self: center; // new
          align-self: center; // new
        }
      }
    }
  }

  .services {
    .services_content {
      .services_showcase {
        flex-flow: row wrap;

        .services_card {
          width: func_respons(360, 10);
          height: func_respons(553, 300);
          min-height: 300px;
        }
      }
    }
  }

  .gallery {
    .gallery_content {
      .gallery_img {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(2, 1fr);

        img {
          width: 40vw;
          height: 40vw;
        }
      }
    }
  }
}

//===================================max-width: 1000px
@media screen and (max-width: 1000px) {
  header {
    width: 96%; //80
    max-width: func_rem(1532);
    height: 90px; //func_rem(122);

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-self: center;

    .logotype {
      img {
        width: 70px; //50%;
        height: 70px; //50%;
      }

      span {
        position: absolute; // new
        bottom: 0px; // new
        right: 5px; // new
      }
    }

    .nav_menu {
      width: 80%;
      height: 100%;

      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-content: flex-end;

      nav {
        width: fit-content; // default 452px;
        height: 100%;

        margin-bottom: 14px;

        align-self: flex-end;

        ul {
          height: inherit;
          position: relative;

          .mini_nav {
            height: inherit;
            display: none;

            ul {
              width: 100%;
              height: inherit;

              display: flex;
              flex-flow: row nowrap;
              justify-content: space-between;

              :not(:first-child) {
                margin-left: func_respons(20, 7);
              }

              li {
                align-self: flex-end;

                a {
                  width: auto;
                  height: 100%;

                  padding: 0 func_respons(14, 5);

                  display: flex;

                  border-radius: func_rem(5);
                  -webkit-border-radius: func_rem(5);
                  -moz-border-radius: func_rem(5);
                  -ms-border-radius: func_rem(5);
                  -o-border-radius: func_rem(5);

                  span {
                    align-self: flex-end;
                  }
                }

                @include transitions;

                &:hover {
                  @include transitions;
                  background-color: $sky_blue;
                }
              }
            }
          }
        }
      }

      menu {
        width: 110px; //func_rem(416);

        margin-bottom: 0px; //14px;

        background-color: $sky_blue; //new
        border-radius: func_rem(5); //new
        -webkit-border-radius: func_rem(5);
        -moz-border-radius: func_rem(5);
        -ms-border-radius: func_rem(5);
        -o-border-radius: func_rem(5);

        ul {
          z-index: 5; //new

          li {
            position: relative; //new

            &:hover > ul {
              display: initial; //new
              @include transitions;
            }

            &:not(:hover) > ul {
              display: none; //new
              @include transitions;
            }

            &:hover > span {
              @include transitions; //new
              color: $white;
              text-shadow:
                1px 3px 0 rgb(70, 70, 70),
                1px 5px 5px $shadow;
            }

            &:active > span {
              @include transitions; //new
              box-shadow: 0px -5px 5px $shadow;
              text-shadow: -3px -2px 3px rgba(70, 70, 70, 0.338);
              letter-spacing: 0.07rem;
            }

            .mini_menu {
              @include сentering-xy();
              display: block;

              font-size: 20px; //new
              font-family: 'Catamaran_Bold'; //new
              color: $white; //new
            }

            ul {
              // display: none;
              width: 50vw; // 100%;
              height: calc(3.8 * 50px); // new !!50px!!

              flex-flow: column nowrap; //row
              position: absolute; //new
              right: 0px; //new
              top: 90px; //new // !!50px!!

              background-color: $shadow; //new

              :not(:first-child) {
                margin-left: 0px; //func_respons(20, 7);
              }

              :not(:last-child) {
                :hover {
                  img {
                    @include transitions;
                    filter: drop-shadow(0px -10px 20px $blue) hue-rotate(270deg);
                    -webkit-filter: drop-shadow(0px -10px 20px $blue) hue-rotate(270deg);
                  }
                }

                :active {
                  img {
                    @include transitions;
                    filter: drop-shadow(0px 0px 15px $yellow) hue-rotate(270deg);
                    -webkit-filter: drop-shadow(0px 0px 15px $yellow) hue-rotate(270deg);
                  }
                }
              }

              li:nth-child(1) {
                margin-top: 5px; //new

                a:last-child::after {
                  content: 'Your Profile';
                  width: 300px;
                  position: absolute;
                  top: 15px;
                  left: 75px;
                  color: $white;
                }

                &:hover {
                  text-shadow:
                    1px 3px 0 rgb(70, 70, 70),
                    1px 5px 5px $shadow;
                }

                &:active {
                  box-shadow: 0px -5px 5px $shadow;
                  text-shadow: -3px -2px 3px rgba(70, 70, 70, 0.338);
                  letter-spacing: 0.07rem;
                }
              }

              li:nth-child(2) {
                margin-top: 5px; //new

                a:last-child::after {
                  content: 'Message for you';
                  width: 300px;
                  position: absolute;
                  top: 15px;
                  left: 100px;
                  color: $white;
                }

                &:hover {
                  text-shadow:
                    1px 3px 0 rgb(70, 70, 70),
                    1px 5px 5px $shadow;
                }

                &:active {
                  box-shadow: 0px -5px 5px $shadow;
                  text-shadow: -3px -2px 3px rgba(70, 70, 70, 0.338);
                  letter-spacing: 0.07rem;
                }
              }

              li:nth-child(3) {
                margin-top: 15px; //new
                border: none;
                background: none;

                .btn {
                  width: 60%;
                  margin-left: 25%;
                }

                &:hover {
                  @include transitions;
                  background: none;
                  background-color: unset;
                  //new
                  color: unset;
                  //new
                  filter: none;
                  //new
                  -webkit-filter: none;
                }
              }

              li {
                width: 50vw; //new
                height: 50px; // new !!50px!!

                background: linear-gradient(90deg, #fff 0%, #99baed 70%); //new

                border-radius: func_rem(5); //new
                -webkit-border-radius: func_rem(5);
                -moz-border-radius: func_rem(5);
                -ms-border-radius: func_rem(5);
                -o-border-radius: func_rem(5);

                border-top-left-radius: 0px;
                border-bottom-left-radius: 0px;
                @include transitions; //new

                &:hover {
                  @include transitions;
                  filter: drop-shadow(10px 10px 15px $sky_blue); //new
                  -webkit-filter: drop-shadow(10px 10px 15px $sky_blue);
                }

                a {
                  width: 100%;
                  padding: 10px; // 0 func_respons(14, 5);
                  color: inherit; //new

                  @include transitions;

                  img {
                    width: func_rem(30); // 42
                    height: func_rem(30); // 42
                  }

                  span {
                    width: func_rem(30); // default(20px)
                    height: func_rem(30); // default(20px)

                    position: absolute;
                    left: 50px; // right: 0%;
                    bottom: 25%;

                    em {
                      font-size: func_rem(20); // @include font_adapt(16, 6);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .history {
    .history_content {
      .history_img {
        height: auto;
        width: 60%;
      }
    }
  }
}

//===================================max-width: 768px
@media screen and (max-width: 768px) {
  header {
    width: 96vw; //80%;
    height: 50px; //func_rem(122);
    margin-top: 10px;
    justify-content: space-around; // between;
    position: relative;

    .logotype {
      width: 80px; // 150px;
      margin-bottom: 0px; //14px;
      @include сentering-xy();

      img {
        width: 30px; //50%;
        height: 30px; //50%;
      }

      span {
        position: absolute; // new
        bottom: 0px; // new
        right: 5px; // new
        font-size: 20px; //func_rem(40);
      }
    }

    .nav_menu {
      width: 100%;
      height: 100%;

      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-content: flex-end;

      nav {
        width: 55px; //fit-content; // default 452px;

        margin-bottom: 0px; //14px;

        background-color: $sky_blue; //new
        border-radius: func_rem(5); //new
        -webkit-border-radius: func_rem(5);
        -moz-border-radius: func_rem(5);
        -ms-border-radius: func_rem(5);
        -o-border-radius: func_rem(5);

        ul {
          z-index: 5; //new

          li {
            position: relative; //new

            &:hover > ul {
              display: initial; //new
              @include transitions;
            }

            &:not(:hover) > ul {
              display: none; //new
              @include transitions;
            }

            &:hover > span {
              @include transitions; //new
              color: $white;
              text-shadow:
                1px 3px 0 rgb(70, 70, 70),
                1px 5px 5px $shadow;
            }

            &:active > span {
              @include transitions; //new
              box-shadow: 0px -5px 5px $shadow;
              text-shadow: -3px -2px 3px rgba(70, 70, 70, 0.338);
              letter-spacing: 0.07rem;
            }

            .mini_nav {
              display: block;
              width: fit-content; //new
              font-size: 40px; //new
              font-family: 'Catamaran_Bold'; //new
              color: $T_h_color; //new

              position: absolute;
              top: 27.5%;
              left: 17.5%;
            }

            ul {
              display: none;
              width: 50vw; // 100%;
              height: calc(4.2 * 50px); // new !!50px!!

              flex-flow: column nowrap; //row

              position: absolute; //new
              left: 0px; //new
              top: 50px; //new // !!50px!!

              background-color: $shadow; //new

              :not(:first-child) {
                margin-left: 0px; //func_respons(20, 7);
                margin-top: 5px; //new
              }

              li {
                width: 100%; //new
                height: 50px; // new !!50px!!
                color: $white;

                background-color: $sky_blue; //new
                border-radius: func_rem(5); //new
                -webkit-border-radius: func_rem(5);
                -moz-border-radius: func_rem(5);
                -ms-border-radius: func_rem(5);
                -o-border-radius: func_rem(5);

                a {
                  padding: 10px; // 0 func_respons(14, 5);
                  color: inherit; //new

                  &:hover {
                    text-shadow:
                      1px 3px 0 rgb(70, 70, 70),
                      1px 5px 5px $shadow;
                  }

                  &:active {
                    box-shadow: 0px -5px 5px $shadow;
                    text-shadow: -3px -2px 3px rgba(70, 70, 70, 0.338);
                    letter-spacing: 0.07rem;
                  }
                }

                @include transitions; //new

                &:hover {
                  @include transitions;
                  height: 50px;
                  color: $yellow; //new
                  filter: drop-shadow(10px 10px 15px $sky_blue); //new
                  -webkit-filter: drop-shadow(10px 10px 15px $sky_blue);
                }
              }
            }
          }
        }
      }

      menu {
        ul {
          li {
            ul {
              width: 60vw; // 100%;
              top: 50px; //100px;

              li {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .services {
    .services_content {
      .services_showcase {
        flex-flow: row wrap;

        .services_card {
          width: func_respons(300, 1);
          min-width: 240px;
          height: func_respons(460, 360);
          min-height: fit-content;
        }
      }
    }
  }
}

//===================================max-width: 525px
@media screen and (max-width: 525px) {
  header {
    .nav_menu {
      menu {
        ul {
          li {
            ul {
              width: 96vw; //70vw; // 50%; // 100%;
              top: 50px; //100px;

              li {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .hero {
    .hero_content {
      .hero_message {
        width: 96; // 90%; //func_rem(590); //default 576
        grid-template-areas:
          'hm'
          'hp'
          'hb'; // new
      }
    }
  }

  .history {
    width: 96; //90%;

    .history_content {
      .history_message {
        width: 90%; //func_rem(526);
        grid-template-areas:
          'Oh'
          'Op1'
          'Op2'
          'Ob'; // new
      }
    }
  }

  .gallery {
    .gallery_content {
      .gallery_img {
        grid-template-rows: repeat(auto-fit, 1fr);
        grid-template-columns: 1fr;

        img {
          width: 80vw;
          height: auto;
        }
      }

      .btn {
        margin: 30px auto 0 auto;
      }
    }
  }

  footer {
    .footer_content {
      p {
        width: 90%; //func_respons(526, 300);
        margin: func_rem(47) auto;
      }
    }
  }
}
