@font-face {
  //h2 h3 button  num_on_bell
  font-family: 'Catamaran_Bold';
  font-style: normal;
  font-weight: 700;
  font-stretch: normal;
  font-display: swap;
  src:
    url('/Users/imac/Desktop/axio/portfolio/barbershop1/src/assets/fonts/Catamaran-Bold.woff2')
      format('woff2'),
    url('/Users/imac/Desktop/axio/portfolio/barbershop1/src/assets/fonts/Catamaran-Bold.ttf')
      format('ttf');
}

@font-face {
  //logo
  font-family: 'Catamaran_Semi_Bold';
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
  font-display: swap;
  src:
    url('/Users/imac/Desktop/axio/portfolio/barbershop1/src/assets/fonts/Catamaran-SemiBold.woff2')
      format('woff2'),
    url('/Users/imac/Desktop/axio/portfolio/barbershop1/src/assets/fonts/Catamaran-SemiBold.ttf')
      format('ttf');
}

@font-face {
  // nav
  font-family: 'Catamaran_Medium';
  font-style: normal;
  font-weight: 500;
  font-stretch: normal;
  font-display: swap;
  src:
    url('/Users/imac/Desktop/axio/portfolio/barbershop1/src/assets/fonts/Catamaran-Medium.woff2')
      format('woff2'),
    url('/Users/imac/Desktop/axio/portfolio/barbershop1/src/assets/fonts/Catamaran-Medium.ttf')
      format('ttf');
}

@font-face {
  // p
  font-family: 'Catamaran_Regular';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src:
    url('/Users/imac/Desktop/axio/portfolio/barbershop1/src/assets/fonts/Catamaran-Regular.woff2')
      format('woff2'),
    url('/Users/imac/Desktop/axio/portfolio/barbershop1/src/assets/fonts/Catamaran-Regular.ttf')
      format('ttf');
}
