@import './mixins.scss';
$minWidth: 320; // ширинa экрана мобильника
$maxWidth: 1920; // ширина полотна макета
// $maxWidthContainer: 1580; // ширина ограничивающего контейнера именно тут - совпадает с $maxWidth

//размер шрифта для <html> по умолчанию
$rem: 16; //px

// oсновные цвета макета
$white: #ffffff; //T_nav:hover T_card:hover T_button
$yellow: #fbb400;
$red: #ff5050;
$sky_blue: #99baed; //bg_button logo nav:hover  social_bg:hover
$blue: #008fdd; // icon
$grey: #a4a4a4;
$shadow: rgba(153, 186, 237, 0.5);
$social_bg: #d3e5ff;

$T_color: #153461;
$T_h_color: #163561;
$T_nav_color: #163561;

$dec_width: func_respons(433, 50); //func_perc(1920, 433);
$dec_height: func_respons(736.5, 85);
